<template>
  <div class="container">
    <div class="p5Canvas"></div>
  </div>
</template>

<script>
import P5 from 'p5';

export default {
  data() {
    return {
      p5Canvas: null,
      t: 0
    }
  },
  created() {
    const sketch = p5 => {
        let w = 400;
        let h = 400;
        let t = 0;

        // let w = window.innerWidth;
        // let h = window.innerHeight;

        p5.setup = () => {
            p5.createCanvas(w, h);
            p5.noStroke();
            p5.fill(200, 180, 0);
        };

        p5.draw = () => {
            // call your method:
            // p5.changeBG(p5.mouseX, p5.mouseY);
          p5.background(10, 10); // translucent background (creates trails)

          // make a x and y grid of ellipses
          for (let x = 0; x <= p5.width; x = x + 30) {
            for (let y = 0; y <= p5.height; y = y + 30) {
              // starting point of each circle depends on mouse position
              const xAngle = p5.map(p5.mouseX, 0, p5.width, -4 * p5.PI, 4 * p5.PI, true);
              const yAngle = p5.map(p5.mouseY, 0, p5.height, -4 * p5.PI, 4 * p5.PI, true);
              // and also varies based on the particle's location
              const angle = xAngle * (x / p5.width) + yAngle * (y / p5.height);

              // each particle moves in a circle
              const myX = x + 20 * p5.cos(2 * p5.PI * t + angle);
              const myY = y + 20 * p5.sin(2 * p5.PI * t + angle);

              p5.ellipse(myX, myY, 10); // draw particle
            }
          }

          t = t + 0.01; // update time
        };

        // create methods:
        // p5.changeBG = (x, y) => {
        //   let _x = p5.map(x, 0, w, 0, 255);
        //   let _y = p5.map(y, 0, h, 0, 255);
        //   p5.background(_x, _y, 33);
        // }
    }

    this.p5Canvas = new P5(sketch, 'p5Canvas');
  },
  unmounted () {
    this.p5Canvas = null;
  },
}
</script>

<style>
#p5Canvas {
  width: 100vw;
  position: relative;
}

main {
  margin: 0 auto;
  width: 90vw;
}
</style>